@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: auto;
  font-family: "Mukta", sans-serif;
  background-image: linear-gradient(white, #ebebe0);
  animation: 1.5s fadeIn;
}

body.fade-in {
  animation: 1.5s fadeIn;
}

#wrapper {
  margin: auto;
  width: 700px;
}

#nav {
  position: relative;
  left: 49px;
}

#header {
  display: flex;
  align-items: center;
  gap: 10px;
}

#header img {
  width: 175px;
  border-radius: 90px;
}

.side-content {
  float: right;
}

h1 {
  color: black;
  font-weight: 700;
  line-height: 40px;
}

a {
  color: #db8b12;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: rgb(90, 89, 89);
  line-height: 1.5;
}

footer {
  background-color: #454545;
  color: #939393;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  margin-top: 20px;
}

.portfolio {
  display: table;
  width: 75%;
  table-layout: auto;
  /*border-spacing: 20px;*/
}

.portfolio-row {
  display: table-row;
}

.portfolio-image,
.portfolio-text {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 25px;
}

.portfolio-image {
  width: 140px;
}

.portfolio-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-right: 10px;
}

.portfolio-text {
  padding-left: 20px;
}

.portfolio-text p {
  margin: 0 0 10px 0;
}

.portfolio-text a {
  display: block;
  margin-top: 10px;
  color: #db8b12;
}

#icon {
  width: 70px;
}